@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?1ptlwa');
	src:url('fonts/icomoon.eot?1ptlwa#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?1ptlwa') format('truetype'),
		url('fonts/icomoon.woff?1ptlwa') format('woff'),
		url('fonts/icomoon.svg?1ptlwa#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-performance-tracking:before {
	content: "\e900";
}
.icon-semantic-validation:before {
	content: "\e901";
}
.icon-social-management:before {
	content: "\e902";
}

