
@import "../fonts/font-awesome/css/font-awesome.css";

@font-face {
  font-family: 'Bariol';
  src: url('../fonts/Bariol_Regular.otf');
 }

body {
  font-family: "Open Sans", "Helvetica", Arial;
  font-weight:normal;
  background: #FFF;
  color: #333;
  margin: 0;
}

a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

p {
margin: 0;
padding-top:10px;
font-size:14px;
line-height:28px;
}

h1 {
text-transform: uppercase;
font-weight:normal;
font-size:60px;
padding-bottom: 20px;
}

h2 {
font-weight: bold;
font-size: 30px;
line-height: 50px;
}

h3 {
text-transform:uppercase;
font-weight: normal;
font-size: 30px;
line-height: 40px;
margin-bottom: 10px;
color: #333;
}

h4 {
font-weight: bold;
font-size: 18px;
line-height:35px;
margin: 0;
}

h5 {
color: #9C9C9C;
text-transform:uppercase;
font-weight: bold;
font-size: 15px;
line-height:25px;
margin: 0;
}



.dark-bg {
    color: white!important;
}

.light-bg {
color:#333;
}

.nav {
    padding-top: 15px;
}

.navbar {
    line-height: 75px;
    vertical-align: bottom;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}


.navbar .tagline, .navbar .tagline:hover {
    padding-left: 20px;
    color: white;
    line-height: 75px;
    vertical-align: middle;
}

.navbar a {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle{
	border-color: #fff!important;
}

a.request-access, a.request-access:focus, a.request-access:active, a.request-access:link {
    margin-left: 10px!important;
    background-color: #43e1df!important;
    border-radius: 25px!important;
    padding: 15px 25px!important;
}

a.request-access:hover {
    color: white;
    background-color: #3cd6d4!important;
    border-radius: 25px!important;
}

.intro-header {
    max-width: 100%;
    background:url("../images/banner.png");
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
}

.intro-message {
    color: white;
    padding-left: 150px;
    padding-top: 50px;
}

.intro-image img {
    max-height: 700px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bg img {
    display: block;
    width: 100%;
}

.section-title {
    padding-bottom: 80px;
}

.bloc-tour  {
    background-color: #fff;
}

.bloc-tour .tour  {
    padding-top: 50px;
    vertical-align: middle;
}

.bloc-tour .container {
	width: 1170px;
}


.bloc-tour .container .row {
    margin-top:150px;
    margin-bottom:150px;
}

.bloc-tour .container img {
    height: auto;
    max-width: 600px;
}

.bloc-testimonials, .bloc-cta-gradient {
	text-align:center;
	margin:auto;
	padding-top: 50px;
	padding-bottom:90px;
	background: #00cef3; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(138deg, #71f4d1, #00cef3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(138deg, #71f4d1, #00cef3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(138deg, #71f4d1, #00cef3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(138deg, #71f4d1, #00cef3); /* Standard syntax */
}

.bloc-services {
    width: 100%;
    background-color: #fbfbfb;
	padding-top: 120px;
}


.bloc-services .container {
	width: 1170px;
}


.bloc-services-content, .service-single {
	display: block;
	min-height: 250px;
	float: left;
	width: 100%;
}

.service-single {
	margin-bottom: 30px;
	padding-left: 80px;
	padding-right: 40px;
	position: relative;
}

i.service-icon {
    font-size: 50px;
    height: 60px;
    left: 0;
    top: 10px;
    line-height: 50px;
	position: absolute;
	width: 60px;
    color: #573f95;

	background: linear-gradient(138deg, #71f4d1, #00cef3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-title {
    color: #2bcbcd;
}

.bloc-features {
	margin:auto;
	text-align:center;
	padding-bottom:150px;
	background: #FFF;
}

.bloc-features .feature {
	padding-left: 80px;
	padding-right: 80px;
	padding-top:130px;
}

.bloc-features .feature h4 {
	margin-bottom:0;
}

.bloc-features .feature img {
	margin-bottom: 40px;
}

.bloc-features .feature p {
	margin-top:0;
}

.bloc-howitworks {
	padding-top: 80px;
}

.bloc-howitworks .steps {
	border-top: 1px solid #f1f1f1;
}

.bloc-howitworks img {
	height: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.bloc-howitworks .steps .col-lg-4 {
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 40px;
	padding-bottom: 80px;
}

.bloc-howitworks .steps-title {
    padding-bottom: 80px;
}

.bloc-howitworks .steps-middle {
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}

.bloc-contact  {
    padding-top: 80px;
    padding-bottom: 80px;
	background-color: #43e1df;
	background: #00cef3; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(138deg, #71f4d1, #00cef3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(138deg, #71f4d1, #00cef3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(138deg, #71f4d1, #00cef3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(138deg, #71f4d1, #00cef3); /* Standard syntax */
}

.bloc-socials {
	background-color: #222222;
	text-align:center;
}

.bloc-socials .section-title {
	border-bottom:1px solid #333333;
}

.bloc-socials-icons {
    padding-top: 30px;
}

.bloc-socials-icons .social-icon {
	background-color: #222222;
}

div .social-icon {
    padding-top: 40px;
    height: 100%;
    vertical-align: middle;
}

.bloc-socials-icons i.fa-pencil, .bloc-socials-icons i.fa-envelope-o {
    font-size: 100px;
    padding-top: 20px;
}

.bloc-cta {
	text-align:center;
	padding-bottom:230px;
	padding-left:20px;
	padding-right:20px;
}

.bloc-socials-icons div > img  {
	max-height:40%;
}

.bloc-footer {
    vertical-align: middle;
    font-size:20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom:40px;
}

.bloc-footer .social-icons {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

.bloc-footer .social-icons a {
    padding-left: 8px;
    padding-right: 8px;
    color: #ccc!important;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.bloc-footer .social-icons a:hover {
	color: #43e1df!important;
}

.bloc-footer .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
}


.pre_cta_middle{
	margin-bottom: 40px;
	position: relative;
}
.pre_cta_middle_image{
	position: absolute;
	right: 100px;
	height: 70px;
	width: 40px;
	display: block;
	background-image: url("/static/img/c_arrow_white.png");
	background-repeat: no-repeat ;
}

/* INPUTS */

input:focus {
    outline: 0;
}

input[type="text"] {
    border-radius: 25px;
    height: auto;
    min-width: 300px;
    font-size: 15px;
    padding: 15px 25px;
}

.bloc-cta input[type="text"] {
    border-radius: 30px;
    font-size: 18px;
    padding: 15px 25px;
}

.intro-header input[type="text"] {
    margin-bottom: 20px;
}

/* BUTTONS */

button[type="submit"] {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 30px!important;
    height: auto;
    display: inline-block;
    border: 2px solid white!important;
    border-radius: 30px;
    background-color: transparent;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

button[type="submit"]:hover {
	background-color: #43e1df;
    border: 2px solid #43e1df!important;
}

.bloc-cta button[type="submit"] {
    font-size:20px;
    color: #2bcbcd;
    border: 2px solid #2bcbcd!important;
}

.bloc-cta button[type="submit"]:hover {
    color: white;
	background-color: #43e1df;
    border: 2px solid #43e1df!important;
}

.bloc-cta.bloc-cta-gradient button[type="submit"] {
    color: #ffffff;
    border: 2px solid #eee!important;
    }

.bloc-cta.bloc-cta-gradient button[type="submit"]:hover {
    color: #43e1df;
    background-color: #ffffff;
    border: 2px solid #43e1df!important;
    }

a.button {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 30px!important;
    height: auto;
    display: inline-block;
    border: 2px solid white!important;
    border-radius: 30px;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

a.button:hover {
	background: #43e1df;
    border: 2px solid #43e1df!important;
}


/* RESPONSIVE */

@media (max-width: 767px) {
    .bloc-howitworks .steps .col-lg-4 {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
        padding-bottom: 80px;
    }
    .intro-message { text-align: center; width: 80%!important; margin:auto; padding-left: 0px; padding-bottom: 80px!important; padding-top: 10px!important; }
    .intro-image img { display: none; }
    .bloc-services .container { padding-bottom: 70px; }
    .service-single {  min-height: 100px!important; padding-right: 0px; }
}
@media (max-width: 991px) {
    .bloc-tour {
        text-align: center;
    }
    .bloc-tour .container {
        max-width: 700px;
    }
    .bloc-tour img {
        max-width: 400px;
        height: auto!important;
    }
    .bloc-footer, .bloc-footer .copyright {
        text-align: center!important;
    }
    .intro-message { text-align: center; width: 75%!important; margin:auto; padding-left: 0px; padding-bottom: 60px!important; padding-top: 10px!important; }
    .service-single { min-height: 200px; }

    .bloc-tour .container img {
        height: auto;
        max-width: 100%;
    }

    .bloc-features {
        margin:auto;
        width: 80%;
        padding-top: 80px;
        padding-bottom: 80px;
        background: #FFF;
    }

    .bloc-features .feature {
        min-height: 130px;
        text-align: left;
        padding-top: 30px;
        display: inline-block;
    }

    .bloc-features .feature img { display: none; }


}
@media (max-width: 1200px) {
    .intro-message { text-align: center; width: 60%; margin:auto; padding-left: 0px; padding-bottom: 50px; padding-top: 30px; }
    .bloc-howitworks .steps-middle {
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        border-left: none;
        border-right: none;
    }
    .intro-image img {
         height: auto;
         width: 100%;
    }
    .tagline {
        display: none!important;
    }
    .bloc-tour .container {
        max-width: 90%;
    }
    .bloc-services .container {
        max-width: 90%;
    }

    .bloc-features .feature {
        padding-left: 50px;
        padding-right: 50px;
    }

        .navbar-header {
            float: none;
        }
        .navbar-left,.navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .collapse.in{
            display:block !important;
        }
}
